{% extends 'shop/basic.html' %}
  <body>
    <h1>Welcome to Samrudhi World</h1>

    <div class="shop">
      {% for item in products %}
      <div class="product">
        <p>Product No: {{ forloop.counter }}</p>
        <!-- <h1>{{ item.id }}</h1> -->
        <h2>{{ item.product_name }}</h2>
        <img src="{{ item.image.url }}" alt="image" />
        <p>Price: ${{ item.price }}</p>
        <p>Published Date: {{ item.pub_date }}</p>
        <p>Description: {{ item.desc }}</p>
        <p>SubCategory: {{ item.subcategory }}</p>
        <p>Category: {{ item.category }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
